@font-face {
  font-family: "montserrat-medium";
  src: url(../Asset/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "montserrat-semibold";
  src: url(../Asset/font/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "montserrat-bold";
  src: url(../Asset/font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "montserrat-extrabold";
  src: url(../Asset/font/Montserrat-ExtraBold.ttf);
}

.wg-font-medium{
  font-family: "montserrat-medium";
}
.wg-font-extrabold{
  font-family: "montserrat-extrabold";
}
.wg-font-semibold{
  font-family: "montserrat-semibold";
}
.wg-font-bold{
  font-family: "montserrat-bold";
}

.wg-font-color-white, a{
  color: white !important;
}
.wg-font-color-1{
  color: #171A23 !important;
}

.wg-color-1{
  background-color: #171A23 !important;
}
.wg-color-2{
  background-color: #ECECEC !important;
}
.wg-color-3{
  background-color: #ECECEC !important;
}

.wg-decoration-link-none{
  text-decoration: none;
}
a {
  text-decoration: none;
}

.wg-navbar {
  padding-top: 26px;
  padding-bottom: 26px;
}

p {
  display: inline;
}

a {
  display: inline;
}

.btn-lacak:hover{
  background-color: #212531 !important;
  border-color: #D3D3D3 !important;
  transition: 0,5s;
}

.wg-navbar-title{
  font-size: 20px;
  /* background-color: aqua; */
}

.wg-navbar-lcl{
  font-size: 16px;
}

.input-login{
  border: none;
  width: 100%;
  height: 55px;
  border-radius: 8px;
  padding-left: 28px;
  font-family: "montserrat-medium";
  font-size: 15px;
}
.input-login:focus::placeholder{
  color: transparent;
}
.input-login:focus{
  border: none;
  outline: none;
  font-family: "montserrat-medium";
  font-size: 15px;
  padding-left: 28px;
}
.btn-login-login{
  font-size: 15px; 
  height: 59px; 
  width: 100%; 
  margin-top: 20px;
}

.input-tracking{
  border: none;
  width: 292px;
  height: 47px;
  border-radius: 8px;
  padding-left: 28px;
  font-family: "montserrat-medium";
  font-size: 15px;
}
.input-tracking:focus::placeholder{
  color: transparent;
}
.input-tracking:focus{
  border: none;
  outline: none;
  font-family: "montserrat-medium";
  font-size: 15px;
  padding-left: 28px;
}